<h2 class="alignleft">Welcome Back! Please Login Below</h2>
<%= link_to "Login with Facebook", "/auth/facebook"%>

<%= render partial: 'form', locals: {user: @user, button_name: "Login", session_form_path: login_path } %>