<h2 class="alignleft">Sign Up Page</h2>
<br>
<%= link_to "Sign Up with Facebook here!", "/auth/facebook"%>
<br>
<%= render partial: 'sessions/form', locals: {user: @user, button_name: "Signup", session_form_path: signup_path } %>