
<h2 class="alignleft">Welcome To JokeBook</h2>
<% if logged_in? %>
        <li>Logged in as <%= current_user.username %></li>
<%end%>
<h3 class="alignleft"> This application is catered towards the community of comedians looking for a place to perform.</h3>
<h4 class="alignleft"> Please signup or login to begin. </h4>


